// CUSTOMIZE
// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Theme color variables
$primary: #f4664c;
$secondary: $gray-600;
$light: $gray-100;
$dark: $gray-800;
$info: $gray-600;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $gray-700;
$body-text-align: null;
$list-group-color: $gray-700;

//Theme colors map
$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'light': $light,
    'dark': $dark,
);

$font-size-base: 0.75rem; //12px

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2.2; //24px
$h3-font-size: $font-size-base + 0.5; //20px
$h4-font-size: $font-size-base + 0.25; //16px
$h5-font-size: $font-size-base + 0.125; //14px
$h6-font-size: $font-size-base;

// Input control
// $input-focus-border-color: $primary;
// $input-border-color: $gray-400;

// Border-radius
$border-radius: 0.25rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 0.75rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;

// Tooltips
$tooltip-font-size: 0.68rem;
$tooltip-color: $gray-800;
$tooltip-bg: rgba(255, 255, 255, 0.9);
$tooltip-border-radius: $border-radius;
$tooltip-opacity: 0.9;

//Range
$form-range-track-width: 100%;
$form-range-track-height: 0.3rem;
$form-range-track-cursor: pointer;
$form-range-track-bg: $gray-300;
$form-range-track-border-radius: 1rem;

$form-range-thumb-width: 0.64rem;
$form-range-thumb-border: 0.1rem solid $white;
$form-range-thumb-bg: $white;
$form-range-thumb-height: $form-range-thumb-width;

// Box-shadow-variables

// button
$btn-link-hover-color: $primary;

$btn-active-box-shadow: none;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$input-focus-border-color: none;
$input-btn-focus-width: 2px;

// List group

$opacity-02: rgba(255, 255, 255, 0.2);

$list-group-item-bg-scale: 10%;
$list-group-hover-bg: $opacity-02;
$list-group-action-color: $gray-100;
$list-group-action-active-color: $gray-100;
$list-group-action-active-bg: $opacity-02;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../index.scss';

.btn-text-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: 0.5rem;
    --bs-btn-hover-color: #f4664c;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-active-border-color: #{shade-color(#fff, 50%)};
}
